*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    scroll-behavior: smooth;
}
.wrapper{
    height: auto;
    width: 100%;
}
.nav{
    justify-self: center;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    background: linear-gradient(180deg, whitesmoke,transparent 99%);
    display: grid;
    padding: 15px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}
.name-sec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.name{
    font-size: 24px;
}
.content{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.content a{
    text-decoration: none;
    color: black;
}
.connect-wallet{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.connect-walletbtn{
    font-size: 14px;
    cursor: pointer;
    padding: 8px 30px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}
.first{
    position: relative;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(1, 1, 1, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}
.talk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
#one{
    font-size: 70px;
    font-family: "Roboto Condensed", sans-serif;
}
#two{
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
}
.img{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 60vh;
}
.second{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 20vh;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.12);
}
.socials{
    position: absolute;
    bottom: 0;
    z-index: 0;
    gap: 15px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.socials img{
    border-radius: 50%;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    min-height: 90vh;
    height: 80vh;
    padding: 20px;
    border-radius: 15px;
}
.blab{
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid black;
}
.collections{
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 30px;
    width: 100%;
}
.box{
    display: flex;
    height: 350px;
    width: 250px;
    color: white;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 15px solid white;
    outline: 1px solid rgba(128, 128, 128, 0.692);
    border-radius: 10px;
    transition: 0.2s ease-in-out;

}
.img1{
    height: 230px;
    border-radius: 9px;
    width: 100%;
}
.mint-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    color: black;
}
.mint-btn{
    padding: 5px 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 6px;
    cursor: pointer;
    background: black;
}
.mint-price{
    width: 100%;
    height: 20px;
    color: black;
    font-family: monospace;
    display: flex;
    justify-content: flex-start;
}
.box:hover{
    box-shadow: 0px 0px 10px 0px black;
}
.third{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.12);
}
.top{
    font-size: 35px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}
#style{
    font-family: 'Momo Signature', sans-serif;
    font-size: 24px;
}
.maybe{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}
.boxes{
    z-index: -1;
    position: relative;
    height: 480px;
    display: flex;
    box-shadow: 5px 5px 10px 5px white;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    min-width: 330px;
    border: 20px solid white;
    outline: 1px solid rgba(128, 128, 128, 0.295);
    transition: 0.4s;

}

#bg{
    width: 100%;
    height: 60%;

}
#pfp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 52.5%;
    left: 2%;
}
.details{
    height: 40%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.details p{
    font-size: 1.1rem;
}
.details a{
    text-decoration: none;
    color: blue;
    font-size: 1rem;
    font-family: monospace;
}
.fourth{
    height: auto;
    padding: 50px 0px;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    background-color: rgba(1, 1, 1, 0.12);
}
.faq{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.884);
    border-radius: 20px;
}
.question{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.question p{
    font-size: 20px;
}
.answer{
    display: none;
    padding: 20px;
    flex-wrap: wrap;
}
.status{
    display: none;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: monospace;
    padding: 8px 14px;
}
.color{
    background-color: green;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}


@media (max-width: 700px){
    .talk{

    }
    #one{
        font-size: 60px;
    }
    #two{
        font-size: 20px;
    }
    .img img{
        width: 100%;
        height: 100%;
    }
    .nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    .name-sec{
        display: none;
    }
    .content{
        display: none;
    }
    .connect-walletbtn{
        padding: 8px 14px;
        border-radius: 14px;
    }
    .socials{
        flex-direction: column;
    }
    .box{
        width: 48%;
        height: 60%;
        
    }
    .collections{
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-top: 30px;
        gap: 10px;
    }
    .container{
        width: 100%;
    }
    
}